<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <a href="/auth/google" id='login'>Login with Google</a>
  </header>
  <body>
    <img src='/images/background.jpg'/>
  </body>
</html>
