<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <div class="title-block">
      <h1 class="title">CREATE & MANAGE YOUR MOVIE LIST
        <br><a href="/auth/google" class="login">LOGIN</a>
      </h1>
    </div>
    <img src='/images/background.jpg' id="indexImage"/>
  </body>
</html>
