body {
  /* padding: 50px; */
  margin: auto;
  background-color: #f5f5f5 ;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.topnav {
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #7298b1;
}

/* Navbar links */
.topnav a {
  margin: 10px;
  display: block;
  height: 100%;
  color: #0f0f0f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Dancing Script', cursive;
  font-style: italic;
  font-size: x-large;
}

/* Links - change color on hover */
.topnav a:hover {
  /* background-color: rgb(221, 221, 221); */
  color: #fcfaf9;
}

#indexImage {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(100%);
}

.title-block {
  position: absolute;
  left: 50%;
  top: 15%;
  
}
.title {
  position: relative;
  font-size: 3.5vmax;
  left: -50%;
  color: rgba(255, 255, 255, 0.836);
  text-align: center;
  font-family: 'Pacifico', cursive;
  letter-spacing: 5px;
  width: 70vmin;
  height: 70vmin;
  background: rgba(136, 128, 128, 0.459);
  border-radius: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  color: #fff;
  font-size: 2vmax;
}

.userName {
  color: rgb(44, 41, 41);
  margin-right: 20px;
}

.movie {
margin: 30px 30px;
padding-top: 50px;
}

.search {
  padding-top: 50px;
  margin: 30px;
  padding-bottom: 10px;
}

.search input[type=text] {
  float: left;
  padding: 7px;
  border: none;
  /* margin-top: 8px; */
  /* margin-right: 16px; */
  font-size: 17px;
}

.searchButton {
  float: left;
  border: none;
  display: flex;
  color: rgb(131, 121, 121);
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 23px;
}

.searchResult {
  display: block;
  margin-left: 30px;
  margin-bottom: .76923077rem;
  padding-bottom: 8px;
  border-bottom: 1px solid #456;
}

.searchTitle {
  font-size: 40px;
  font-weight: bold;
  width: 85%;
  float: right;
  color: rgba(39, 37, 37, 0.781);
  font-family: 'Caveat', cursive;
}

.addMovie {
  display:inline-block;
  font-family: 'Archivo Black', cursive;
  font-size: medium;
  font-weight: 500;
  padding: 10px;
  background-color: rgba(241, 237, 237, 0.678);
  color: rgba(0, 0, 0, 0.685);
  border: 2px solid #4b6b81;
  border-radius: 8px;
}

.addMovie:hover {
  background-color: #7298b1c2;
  color: white;
  font-weight: 800;
}

.container {
  display: grid;
  grid-template-columns: 1fr 50%;
  background-color: rgba(197, 185, 185, 0.301);
}

.watchList {
  margin: 30px;
  background-color: rgba(212, 208, 208, 0.473);
}

.name_trailer {
  /* display:inline-block; */
  font-family: 'Archivo Black', cursive;
  font-size: medium;
  font-weight: 500;
}

.content {
  font-family: 'Caveat', cursive;
  font-size: x-large;
  float: right;
  /* padding-left: 50px; */
  margin-top: 0px;
  font-weight: 800;
}

.name {
  display: block;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  border: 2px solid #4b6b81;
  color: rgba(0, 0, 0, 0.76);
  text-align: center;
  border-radius: 8px;
}

a span.am, a:hover span.bm {display: block; }
a:hover span.am, a span.bm {display: none; }

/* a:hover {visibility:visible} */

.name:hover{
  content: 'Add Review';
  background-color: #819eb1d2;
  color: white;
  font-weight: 800;
}
.trailer_remove {
  text-decoration: none;
  display: inline-grid;
  padding: 6px;
  border: 2px solid #4b6b81;
  color: rgba(0, 0, 0, 0.685);
  border-radius: 8px;
}

.trailer_remove:hover {
  background-color: #7395acf6;
  color: white;
  font-weight: 800;
}

#remove {
  font-family: 'Archivo Black', cursive;
  font-size: medium;
  font-weight: 500;
  float: right;
  margin: 20px;
}

.reviews {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 50%;
  background-color: rgba(224, 216, 216, 0.589);
}

.image {
  padding-top: 10%;
}

.review_info {
  padding: 20%;
  background-color: rgba(204, 198, 198, 0.007);
}

#add-review-form {
  float: right;
}

#saveReviewButton {
  font-family: 'Archivo Black', cursive;
  font-size: medium;
  padding: 3px 10px;
  font-weight: 500;
  margin: 20px;
  border: 2px solid #4b6b81;
  color: rgba(0, 0, 0, 0.685);
  border-radius: 8px;
}

#saveReviewButton:hover {
  background-color: #7ea1b9;
  color: rgb(255, 255, 255);
  font-weight: 800;
}
